$color--black: #000;
$color--white: #fff;

@font-face {
  font-family: 'RixYeoljeongdo';
  src: url(/src/fonts/RixYeoljeongdo_Regular.ttf) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Notokr-regular';
  src: url(/src/fonts/notokr_regular.ttf) format('woff');
  font-style: normal;
  font-weight: 300;
} 

* {
  font-family: 'Notokr-regular', sans-serif;
}

body {
  background-color: #e07990;
  h1 {
    color: $color--white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    color: #fff;
  }
}