$color--black: #000;
$color--white: #fff;

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin txtshadow($hshadow, $vshadow, $blur, $color) {
  text-shadow: $hshadow $vshadow $blur $color;
}

@mixin boxshadow($hoffset, $voffset, $blur, $spread, $color) {
  box-shadow: $hoffset $voffset $blur $spread $color;
}

@mixin padding2($ydir, $xdir) {
  padding: $ydir $xdir;
}

@mixin padding3($top, $xy, $bottom) {
  padding: $top $xy $bottom;
}

@mixin padding4($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@font-face {
  font-family: 'RixYeoljeongdo';
  src: url(/src/fonts/RixYeoljeongdo_Regular.ttf) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Notokr-regular';
  src: url(/src/fonts/notokr_regular.ttf) format('woff');
  font-style: normal;
  font-weight: 300;
} 

* {
  font-family: 'Notokr-regular', sans-serif;
}

body {
  background-color: #e07990;
  h1 {
    color: $color--white;
    @include flex(center, center);
  }
  a {
    color: #fff;
  }
}